<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>

<body>
<!-- start: Header -->
<div th:replace="fragments/navbar :: navbar"></div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div th:replace="fragments/menu :: menu"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <div class="row-fluid">

                <div class="box span12">
                    <div class="box-header">
                        <h2 th:text="${project.name}"><i class="halflings-icon white th"></i><span class="break"></span></h2>
                    </div>
                    <div class="box-content">
                        <ul class="nav tab-menu nav-tabs" id="myTab">
                            <li class="active"><a href="#info">Informatii</a></li>
                            <li><a href="#messages">Specificatii</a></li>
                            <li><a href="#custom">Descriere</a></li>
                            <li><a href="#team">Echipa</a></li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active" id="info">
                                <div>
                                    <span>Client: </span>
                                    <span th:text="${project.client}"></span>
                                </div>

                                <div>
                                    <span>Data incepere: </span>
                                    <span th:text="${project.startDate}"></span>
                                </div>

                                <div>
                                    <span>Data incheiere: </span>
                                    <span th:text="${project.endDate}"></span>
                                </div>

                                <div>
                                    <span>Numarul de ore: </span>
                                    <span th:text="${project.hours}"></span>
                                </div>

                                <div>
                                    <span>Status: </span>
                                    <span th:text="${project.projectStatus}"></span>
                                </div>

                                <div>
                                    <span>Culoare: </span>
                                    <span th:text="${project.color}"></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="messages">
                                <p th:text="Specificatii">
                                </p>
                            </div>
                            <div class="tab-pane" id="custom">
                                <p th:text="${project.description}">
                                </p>
                            </div>

                            <div class="tab-pane" id="team">
                                <div th:if="${not #lists.isEmpty(actualTeam)}" class="box span6" onTablet="span6" onDesktop="span6">
                                    <div class="box-header">
                                        <h2><i class="halflings-icon white employee"></i><span class="break"></span>Useri activi</h2>
                                        <div class="box-icon">
                                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <ul class="dashboard-list" th:each="employee : ${actualTeam}">
                                            <li style="margin-bottom: 10px">
                                                <a href="#">
                                                    <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg"/>
                                                </a>
                                                <strong>Nume:</strong> <a href="#" th:text="${employee.name}"></a><br/>
                                                <strong>Data:</strong> <span th:text="${employee.startDate}"></span><br/>
                                                <a class="btn btn-info" th:href="@{/allocate/changeStatus/__${employee.allocationId}__}">
                                                    <i class="halflings-icon white edit"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--/span-->
                                <div th:if="${not #lists.isEmpty(oldTeam)}" class="box span6" onTablet="span6" onDesktop="span6">
                                    <div class="box-header">
                                        <h2><i class="halflings-icon white employee"></i><span class="break"></span>Useri inactivi</h2>
                                        <div class="box-icon">
                                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <ul class="dashboard-list" th:each="employee : ${oldTeam}">
                                            <li style="margin-bottom: 10px">
                                                <a href="#">
                                                    <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg"/>
                                                </a>
                                                <strong>Nume:</strong> <a href="#" th:text="${employee.name}"></a><br/>
                                                <strong>Data:</strong> <span th:text="${employee.endDate}"></span><br/>
                                                <a class="btn btn-info" th:href="@{/allocate/changeStatus/__${employee.allocationId}__}">
                                                    <i class="halflings-icon white edit"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--/span-->
                            </div>
                        </div>
                    </div>
                </div><!--/span-->

            </div><!--/row-->


        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="clearfix"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
