<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- start: Header -->
<div th:replace="fragments/navbar :: navbar"></div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div th:replace="fragments/menu :: menu"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Profilul meu</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" enctype="multipart/form-data" method="post" th:object="${profile}" th:action="@{/user/profile/save}">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="username">Username</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="username" type="text" th:field="*{username}" disabled="true"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="picture">Poza </label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="picture" type="file" name="picture"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="new-password">Parola noua</label>
                                    <div class="controls">
                                        <input type="password" class="input-xlarge focused" id="new-password" th:field="*{newPassword}"/>
                                    </div>
                                    <div id="new-passwordError"
                                         th:if="${#fields.hasErrors('newPassword')}"
                                         th:errors="*{newPassword}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="repeat-password">Repeta parola</label>
                                    <div class="controls">
                                        <input type="password" class="input-xlarge focused" id="repeat-password" th:field="*{repeatPassword}"/>
                                    </div>
                                    <div id="endDateError"
                                         th:if="${#fields.hasErrors('repeatPassword')}"
                                         th:errors="*{repeatPassword}" style="color: red"></div>
                                </div>
<!--
                                <div class="control-group">
                                    <label class="control-label" for="old-password">Parola actuala</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="old-password" type="text" th:field="*{oldPassword}"/>
                                    </div>
                                    <div id="hoursError"
                                         th:if="${#fields.hasErrors('oldPassword')}"
                                         th:errors="*{oldPassword}" style="color: red"></div>
                                </div>-->

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Salveaza</button>
                                   <a th:href="@{/}"><input class="btn btn-default" type="button" th:value="Renunta"></input></a>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->

        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->


<div class="clearfix"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
