<div th:fragment="menu" id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a th:href="@{/project/list}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Vezi proiecte </span></a></li>
            <li><a th:href="@{/user/profile}"><i class="icon-lock"></i><span class="hidden-tablet"> Profilul meu </span></a></li>
            <li><a th:href="@{/calendar/projects}"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar </span></a></li>
            <li><a th:href="@{/workDay/form}"><i class="icon-tasks"></i><span class="hidden-tablet"> Adauga zi de lucru </span></a></li>
            <li><a th:href="@{/freeDay/form}"><i class="icon-plane"></i><span class="hidden-tablet"> Adauga zi libera </span></a></li>
            <li><a th:href="@{/logout/}"><i class="icon-off"></i><span class="hidden-tablet"> Logout</span></a></li>
        </ul>
    </div>
</div>