<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div th:replace="fragments/menu :: menu"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">

            <div class="row-fluid">

                <div class="span3 statbox green" onTablet="span6" onDesktop="span4">
                    <div class="number"><i class="icon-align-justify"></i></div>
                    <div class="footer">
                        <a th:href="@{/project/list}"> Vezi proiecte</a>
                    </div>
                </div>
                <div class="span3 statbox yellow" onTablet="span6" onDesktop="span4">
                    <div class="number"><i class="icon-lock"></i></div>
                    <div class="footer">
                        <a th:href="@{/user/profile}"> Profilul meu </a>
                    </div>
                </div>
                <div class="span3 statbox red" onTablet="span6" onDesktop="span4">
                    <div class="number"><i class="icon-calendar"></i></div>
                    <div class="footer">
                        <a th:href="@{/calendar/projects}"> Calendar </a>
                    </div>
                </div>

            </div>

            <div class="row-fluid">

                <div class="span3 statbox purple" onTablet="span6" onDesktop="span6">
                    <div class="number"><i class="icon-tasks"></i></div>
                    <div class="footer">
                        <a th:href="@{/workDay/form}"> Adauga zi de lucru </a>
                    </div>
                </div>

                <div class="span3 statbox blue" onTablet="span6" onDesktop="span6">
                    <div class="number"><i class="icon-plane"></i></div>
                    <div class="footer">
                        <a th:href="@{/freeDay/form}"> Adauga zi libera </a>
                    </div>
                </div>
            </div>




        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->




<div class="clearfix"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
