<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>


<body onload="document.f.username.focus();">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="index.html"><span>ProManagement</span></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">

        <p th:if="${param.error}" class="alert alert-error">Numele de utilizator sau parola sunt gresite!</p>

        <h2>Inregistrati-va cu numele de utilizator si parola!</h2>

        <form name="form" th:action="@{/login}" action="/login" method="POST">
            <fieldset>
                <input type="text" name="username" th:value="${session.loginFailedUsername}" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
            </fieldset>
            <input type="submit" id="login" value="Login"
                   class="btn btn-primary" />
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>